{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color:#060002;
    background-size: 100%;

}
p{
    margin: 0;
    padding: 0%;
}
.reloj{ 
    font-family: 'Times New Roman', monospace; 
    color: #CA2F65;
    
    text-align: center;
     position:absolute; 
    left: 80%;
    
    top: 20%;
     transform: translate(-50%, -50%);
      text-shadow: 0 0 20px #CA2F65(10,175, 230,1), 0 0 20px #F9E79F(10,175, 230,0) ;
}
.tiempo{ 
    letter-spacing: 0.05em;
     font-size: 80px; 
     padding: 5px 0; }
     
     .fecha{
        letter-spacing: 0.1em; 
        font-size: 24px;
    }
